.global-header {
  width: 100%;
  height: $gnb-height-sm + $lnb-height-sm; // .gnb .lnb position: fixed 영향으로 모두 집을 나갔기 때문에 height를 지정해줘야 main 콘텐츠를 가리지 않고 header - main - footer 순으로 제대로 정렬 가능하다

  .gnb,
  .lnb {
    position: fixed;
    left: 0;
    width: 100%;
  }

  .gnb {
    top: 0;
    z-index: $gnb-level;
  }

  .lnb {
    top: $gnb-height-sm;
    z-index: $lnb-level;
  }

  @include responsive(T) {
    height: $gnb-height-md + $lnb-height-md;

    .lnb {
      top: $gnb-height-md;
    }
  }
}
